<%-include('../Includes/header.ejs')%>
<link rel="stylesheet" href="/CSS/style.css">
</head>
<body>

    <%-include('../Includes/navigation.ejs')%>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign Up</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
        <form action="/postRegValue" class="" method="POST">
            <input type="hidden" value="<%=csrf_token%>" name="_csrf">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
            <input type="text" id="fname" name="fname" class="place" placeholder="Enter your FirstName" ><br>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
            
            <input type="text" id="lname" name="lname" class="place" placeholder="Enter your LastName"><br>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
            
            <input type="email" id="mail" name="email" class="place" placeholder="Enter your mail id.." ><br><br>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                </div>

            <input type="password" id="pass" name="password" class="place" placeholder="Enter your password" ><br><br>
            </div>

        </div>
        
          
        <div>

            <%if(error.length>0) {%>
                <%for(let err of error) {%>
                    <div><h6 style="color:red;"><%=err.msg%></h6></div>
                    <%}%>
                    <%}%>

                    <div class="form-group">
                        <input type="submit" value="sign up" class="btn float-right signup_btn">
                    </div>
          </form> 
    </div>
</div>
</div>
</div>

 
    <%-include('../Includes/footer.ejs')%>
    